@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
.img_box {
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-top: 125px;
  margin-bottom: 30px;
}
h3 {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 45px;
}
select {
  padding-right: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select {
  position: relative;
  display: inline-block;
}
.wrap {
  max-width: 1920px;
  overflow: hidden;
  margin: auto;
}
.container {
  max-width: 770px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  height: 80px;
  border-bottom: 1px solid #dadada;
}
.header .gumb {
  display: none;
}
.header .gumb:not(.visible):before {
  content: '';
  width: 32px;
  height: 32px;
  background-image: url("./../img/open.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header .gumb.visible:after {
  content: '';
  width: 32px;
  height: 32px;
  background-image: url("./../img/close.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .header .gumb {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
  }
}
.header nav {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.header nav ul {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  list-style-type: none;
}
@media screen and (max-width: 768px) {
  .header nav ul {
    display: none;
  }
}
.header nav ul li {
  padding-left: 37.5px;
  padding-right: 37.5px;
}
.header nav ul li.active a {
  color: #262626;
}
.header nav ul li:first-child {
  padding-left: 0;
}
.header nav ul li:last-child {
  padding-right: 0;
}
.header nav ul li a {
  font-family: 'Roboto', sans-serif;
  color: #42639d;
}
.header nav ul li a.active {
  color: #262626;
}
@media screen and (max-width: 768px) {
  nav {
    margin-top: 80px;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 0;
    transition: 0.5s;
  }
  .gumb.visible + nav {
    height: 165px;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  .gumb.visible + nav ul {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
  }
  .gumb.visible + nav ul li {
    padding: 0 0 15px 0;
  }
}
.content_main {
  max-width: 770px;
  margin: auto;
}
.main_banner {
  background-image: url("./../img/ian-froome-375650.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 160px;
  position: relative;
}
.main_banner h1 {
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  color: #000;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 10;
  margin: auto;
  margin-bottom: -33px;
}
.profile {
  box-shadow: 10px 45px 47px 92px #fff;
  position: relative;
  padding-top: 95px;
}
.profile .container_info {
  background-color: #fff;
}
.profile .container_info .icon_info {
  margin: auto;
  display: inherit;
  text-align: center;
}
.profile .container_info h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #161616;
  text-align: center;
  margin-bottom: 45px;
  padding-top: 30px;
}
.profile .container_info form {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 45px;
}
.profile .container_info form .form_item {
  display: flex;
  vertical-align: top;
  position: relative;
}
.profile .container_info form .form_item .select {
  height: 60px;
  margin: auto;
  margin-bottom: 25px;
  width: 320px;
}
.profile .container_info form .form_item .select .selectric {
  background: transparent;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}
.profile .container_info form .form_item .select .selectric .button {
  background-color: transparent;
  height: 60px;
}
.profile .container_info form .form_item .select .selectric .button::after {
  content: "";
  padding: 0 8px;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
  background-image: url("./../img/arr_down.png");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}
.profile .container_info form .form_item .select .selectric .label {
  height: 60px;
  line-height: 60px;
  font-weight: 400;
  color: #c9c9c9;
  font-size: 23.99px;
  text-align: center;
  padding-left: 28px;
}
.profile .container_info form .form_item .select .selectric-items {
  background-color: #fff;
  border-radius: 4px;
  outline: none;
}
.profile .container_info form .form_item .select .selectric-items li {
  text-align: center;
  color: #435993;
  font-size: 20px;
}
.profile .container_info form .form_item .select .selectric-items .selectric-scroll::-webkit-scrollbar {
  width: 20px;
  background-color: #f00;
}
.profile .container_info form .form_item .select .selectric-items .selectric-scroll::-webkit-scrollbar-button {
  width: 10px;
  background-color: #00f;
}
.profile .container_info form .form_item .select .selectric-items .selectric-scroll::-webkit-scrollbar-track {
  background-color: #000;
}
.profile .container_info form .form_item .select .selectric-items .selectric-scroll::-webkit-scrollbar-track-piece {
  background-color: #ff0;
}
.profile .container_info form .form_item .select .selectric-items .selectric-scroll::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}
.profile .container_info form .form_item .select .selectric-items .selectric-scroll::-webkit-scrollbar-corner {
  background-color: #999;
}
.profile .container_info form .form_item .select .selectric-items .selectric-scroll::-webkit-resizer {
  background-color: #666;
}
.profile .container_info form .form_item .form_label {
  position: absolute;
  pointer-events: none;
  line-height: 60px;
  transition: 0.5s;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #c9c9c9;
  font-size: 23.99px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.profile .container_info form input,
.profile .container_info form select {
  height: 60px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  text-align: center;
  width: 520px;
  margin: auto;
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #161616;
  font-size: 20px;
}
.profile .container_info form input {
  padding-top: 23px;
}
.profile .container_info form input:focus {
  outline: 1px solid #345996;
  border-radius: 4px;
}
.profile .container_info form input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  color: #c9c9c9;
}
.profile .container_info form input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  color: #c9c9c9;
}
.profile .container_info form input:-moz-placeholder {
  font-family: 'Roboto', sans-serif;
  color: #c9c9c9;
}
.profile .container_info form input::-moz-placeholder {
  font-family: 'Roboto', sans-serif;
  color: #c9c9c9;
}
.profile .container_info form input:focus~.form_label {
  top: -15px;
  font-size: 14px;
  color: #afafaf;
}
.profile .container_info form input:not(:focus):valid~.form_label {
  top: -15px;
  font-size: 14px;
  color: #afafaf;
}
.profile .container_info form select {
  width: 320px;
  -moz-text-align-last: center;
       text-align-last: center;
  color: #c9c9c9;
}
@media screen and (max-width: 768px) {
  .profile .container_info form select {
    max-width: 290px;
  }
}
.profile .container_info form option {
  color: #42639d;
  text-align: center;
}
.exp {
  position: relative;
  z-index: 100;
  padding-top: 30px;
}
.exp h3 {
  font-weight: 300;
  font-size: 30px;
  color: #161616;
  text-align: center;
  margin-bottom: 50px;
}
.exp #skills {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .exp #skills {
    flex-direction: column;
  }
}
.exp .checkbox_custom {
  display: none;
}
.exp .checkbox_custom_label {
  display: flex;
  align-items: center;
  position: relative;
  vertical-align: middle;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  color: #000;
}
.exp .checkbox_custom + .checkbox_custom_label:before {
  content: '';
  background: #fff;
  border-radius: 2px;
  border: 2px solid #345996;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 13px;
}
.exp .checkbox_custom:checked + .checkbox_custom_label:after {
  content: "";
  padding: 2px;
  position: absolute;
  width: 2px;
  height: 5px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  top: 0;
  bottom: 10%;
  margin: auto;
  left: 8px;
}
.exp .checkbox_custom:checked + .checkbox_custom_label:before {
  background: #345996;
}
.range_slider {
  max-height: 20px;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
}
.range_slider .bg {
  width: 100%;
  background-color: #fff;
  height: 21px;
  transform: rotate(-0.8deg);
  margin-top: -15px;
  z-index: 11110;
  position: absolute;
  border-bottom: 0.5px solid #000;
}
.range_slider .slider {
  width: 100%;
  background-image: linear-gradient(0deg, #d7b3f4 0%, #345996 100%);
  height: 20px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  margin-bottom: 50px;
}
.range_slider .slider .thumb {
  width: 3px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  left: 65%;
  cursor: pointer;
}
.range_slider .slider .thumb:before {
  content: '';
  height: 20px;
  width: 770px;
  margin-left: 3px;
  background-color: #e7e7e7;
  position: absolute;
}
.js_skills .container .stick_box {
  min-width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
}
.js_skills .container .stick_box .stick {
  width: 25%;
}
.js_skills .container .stick_box .stick:before {
  content: '';
  position: absolute;
  height: 20px;
  width: 2px;
  background-color: #fff;
}
.js_skills h3 {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 45px;
}
.js_skills .level {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}
.js_skills .level>div {
  width: 25%;
  height: 35px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-end;
  font-size: 13px;
  color: #2f1b15;
  margin-bottom: 30px;
}
.js_skills .level>div:before {
  content: '';
  width: 2px;
  height: 25px;
  margin-top: 28px;
  position: absolute;
  background-image: url("./../img/dot.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.js_skills .level>div:last-child {
  justify-content: flex-end;
}
.about .container {
  max-width: 520px;
}
.about .container h3 + p {
  font-weight: 300;
  color: #161616;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
.about .container textarea {
  width: 100%;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  padding: 22px 20px;
  font-size: 20px;
  height: 175px;
  margin-top: 45px;
}
.about .container textarea::-webkit-input-placeholder {
  color: #c9c9c9;
}
.about .container textarea:-ms-input-placeholder {
  color: #c9c9c9;
}
.about .container textarea:-moz-placeholder {
  color: #c9c9c9;
}
.about .container textarea::-moz-placeholder {
  color: #c9c9c9;
}
.about .container .btn_box {
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
.about .container .btn_box .btn {
  background-color: #345996;
  color: #fff;
  padding: 17px 35px;
  margin-bottom: 50px;
  display: inline-block;
  border-radius: 8px;
  margin-top: 70px;
  font-size: 16px;
}
